.page
{
    background-color: aliceblue;
}
.content
{
    background-color: white;
    width: 810px;
    margin-right: auto;
    margin-left: auto;
}
header
{
    text-align: center;
    background-color: #579C87;
    color: #FDCB46;
    padding-top: 10px;
    padding-bottom: 10px;
}
.LNE
{
    background-color: #FCDFDB;
}
.LCALF
{
    background-color: #FFF5FE;
}
.LDDP
{
    background-color: #F9F9F9;
}
.LPDG
{
    background-color: #FDFFFD;
}
.btn
{
    background-color: #579C87;
}
footer
{
    background-color: #579C87;
    display: flex;
}